@model IEnumerable<DataAccess.Models.Entity.LeaveType>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonCreateNew("LeaveType")
                    @Html.ButtonImport("LeaveType")
                </div>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="LeaveTypeDatatable" class="table table-bordered table-hover table-responsive stripe">
                    <thead>
                        <tr>
                            <th>Όνομα</th>
                            <th>Περιγραφή</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th data-searchable="true">Όνομα</th>
                            <th data-searchable="true">Περιγραφή</th>
                            <th data-searchable="false">Ενέργειες</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>

</div>
<partial name="_ImportModal" model='new {Entity = "LeaveType" }'>
    @section Scripts {
        <script>
            $('#LeaveTypeDatatable').DataTable({
                serverSide: true,
                responsive: true,
                processing: true,
                colReorder: false,
                iDisplayLength: 150,
                dom: 'Bfrtlp',
                buttons: ['excel', 'print'],
                language: {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only"></span> '
                },
                ajax: {
                    url: '/api/leavetypes/datatable',
                    type: 'POST',
                    contentType: "application/json",
                    data: (data, type, row, meta) => {
                        data.Predicate = 'LeaveTypeIndex';
                        return JSON.stringify(data);
                    }
                },
                order: [[0, 'desc']],
                columns: [
                    {
                        data: "Name",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            console.log(data);
                            if (data.Name != null)
                                return data.Name;
                            else
                                return "";
                        }
                    },
                    {
                        data: "Description",
                        searchable: false,
                        orderable: false,
                        render: (a, b, data, d) => {
                            if (data.Description != null)
                                return data.Description;
                            else
                                return "";
                        }
                    },
                    {
                        data: "Button",
                        searchable: false,
                        orderable: false,
                        render: (a, b, data, d) => {
                            if (data.Buttons != null)
                                return data.Buttons;
                            else
                                return "";
                        }
                    }
                ]
            });
        </script>
    }
