@model IEnumerable<DataAccess.Models.Entity.Specialization>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="SpecializationDatatable" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Όνομα</th>
                            <th>Περιγραφή</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th data-searchable="true">Όνομα</th>
                            <th data-searchable="true">Περιγραφή</th>
                            <th data-searchable="false">Ενέργειες</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>

</div>
@section Scripts {
    <script>

        jQuery(function () {
            var dateOptions = { year: 'numeric', month: 'numeric', day: 'numeric' };
            var timeOptions = { hour: 'numeric', minute: 'numeric', second: 'numeric' };

            var table = $('#SpecializationDatatable').DataTable({
                "serverSide": true,
                "dom": 'frtlp',
                "ajax": {
                    url: '/api/specializations/datatable',
                    type: 'POST',
                    contentType: "application/json",
                    data: (data, type, row, meta) => {
                        return JSON.stringify(data);
                    }
                },
                order: [[0, 'desc']],
                "columns": [
                    {
                        "data": "Name",
                        "searchable": true,
                        "orderable": true,
                        render: (a, b, data, d) => {
                            console.log(data);
                            if (data.Name != null)
                                return data.Name;
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Description",
                        "searchable": false,
                        "orderable": false,
                        render: (a, b, data, d) => {
                            if (data.Description != null)
                                return data.Description;
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Button",
                        "searchable": false,
                        "orderable": false,
                        render: (a, b, data, d) => {
                            if (data.Buttons != null)
                                return data.Buttons;
                            else
                                return "";
                        }
                    }
                ]
            });
        });
    </script>
}