@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



<li class=''>
    <a href="/User/index"><i class='fa fa-eye'></i></a>
    <a href="/User/index"><i class='fa fa-pencil-square-o'></i></a>
    <a href="/User/index"><i class='fa fa-trash-o'></i></a>
    <a href="/User/index"><i class='fa fa-trash'></i></a>
<li class=''><a href="/User/index"><i class='fa fa-th-list'></i></a></li>


<div style="width:50px; height:50px;">
    <div class="spinner-fast">
        <div class="spinner-fast">
            <div class="spinner-fast">
                <div class="spinner-fast">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="btn btn-primary ld-ext-right"
     onclick="this.classList.toggle('running')">
    Clike Me
    <div class="ld ld-ring ld-spin"></div>
</div>






