@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Καλωσορίσατε</h1>
</div>



<a href="@Url.Action("Download", "Specialization")">Download</a>


@section Scripts {



}



