@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Filter"]</h3>
            </div>

            <hr />


            <div class="box-body">
                <div style="width:100%;">
                    <div style="width:50%; float:left;">
                        <div class="form-group">
                            <label class="control-label">Πόστο</label>
                            <div class="input-group" style="width:100%">
                                <select id="WorkPlace_Select2" style="width:70%"></select>
                            </div>
                        </div>

                    </div>
                    <div style="width:50%; float:left;">
                        <label class="control-label">Χρονικό έυρος</label>
                        <div class="input-group">
                            <input id="SearchRangeInput" class="form-control" />
                        </div>
                    </div>
                </div>
                <div style="width:100%;">
                    <div style="width:100%; float:left;">
                        <div class="form-group">
                            <label class="control-label">Τρόπος εμφάνισης χρόνου</label>&nbsp
                            <input type="checkbox" class="filterSlider" id="SliderHourChoice">
                        </div>
                    </div>
                </div>


            </div>

            <div class="box-footer" style="text-align:center;">
                <button id="DataTableSearch" class="btn btn-primary"><i class="fa fa-search"></i> Αναζήτηση</button>
            </div>

        </div>
    </div>
    <div class="col-md-3"> </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-danger" style="margin-top:5%;">
            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <hr />
            <div id="DataTableDiv">
                <div class="box-body table-responsive">
                    <table id="EmployeesWorkHourConcentricDatatable" class="table table-bordered table-hover table-responsive stripe">
                        <thead>
                            <tr>
                                <th>Επίθετο</th>
                                <th>Όνομα</th>
                                <th>Erp Code</th>
                                <th>Σύνολο ώρες</th>
                                <th>Σύνολο ώρες Μέρα</th>
                                <th>Σύνολο ώρες Νύχτα</th>
                                <th>Σύνολο ώρες Σάββατο Μέρα</th>
                                <th>Σύνολο ώρες Σάββατο Νύχτα</th>
                                <th>Σύνολο ώρες Κυριακή Μέρα</th>
                                <th>Σύνολο ώρες Κυριακή Νύχτα</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Επίθετο</th>
                                <th>Όνομα</th>
                                <th>Erp Code</th>
                                <th>Σύνολο ώρες</th>
                                <th>Σύνολο ώρες Μέρα</th>
                                <th>Σύνολο ώρες Νύχτα</th>
                                <th>Σύνολο ώρες Σάββατο Μέρα</th>
                                <th>Σύνολο ώρες Σάββατο Νύχτα</th>
                                <th>Σύνολο ώρες Κυριακή Μέρα</th>
                                <th>Σύνολο ώρες Κυριακή Νύχτα</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        const ConvertDateForApi = timeStamp =>
            CompleteTimeWithZerosForApiPost(new Date(parseInt(timeStamp)));

        CompleteTimeWithZerosForApiPost = date => {
            var year = date.getFullYear();
            var month = String((date.getMonth() + 1)).length == 1 ?
                '0' + (date.getMonth() + 1) : (date.getMonth() + 1);
            var day = String(date.getDate()).length == 1 ?
                '0' + date.getDate() : date.getDate();
            var hour = String(date.getHours()).length == 1 ?
                '0' + date.getHours() : date.getHours();
            var min = String(date.getMinutes()).length == 1 ?
                '0' + date.getMinutes() : date.getMinutes();

            return year + '-' + month + '-' + day + 'T' + hour + ':' + min;
        }
        const GetSelectedWorkPlaceId = () =>
            document.getElementById('WorkPlace_Select2').value;

        const GetSliderHourChoiceValue = () =>
            document.getElementById('SliderHourChoice').checked != true;

        const GetStartOn = () =>
            new Date(moment(document.getElementById('SearchRangeInput').value
                .split('/-/')[0], 'DD/MM/YYYY').format('MM/DD/YYYY HH:mm'));

        const GetEndOn = () => {
            var date = new Date(moment(document.getElementById('SearchRangeInput').value
                .split('/-/')[1], 'DD/MM/YYYY').format('MM/DD/YYYY HH:mm'));
            date.setHours(23, 59, 59, 59);
            return new Date(date);
        }

        const GetDaysDifferenceFromRange = () =>
            Math.ceil(Math.abs(GetEndOn() - GetStartOn()) / (1000 * 60 * 60 * 24))

        const setHoursToMax = date => {
            var newDate = new Date(date);
            newDate.setHours(23, 59, 59);
            return moment(newDate);
        }
    </script>

    <script>
        $('#SliderHourChoice').bootstrapToggle({
            on: 'HH:mm',
            off: 'ώρες/8',
            onstyle: 'primary',
            offstyle: 'primary'
        });

        $('#WorkPlace_Select2').select2({
            placeholder: "Επέλεξε πόστο",
            allowClear: true,
            ajax: {
                url: '/api/workplaces/select2',
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page || 1
                    }
                    return query;
                }
            }
        });

        $('#SearchRangeInput').calentim({
            showTimePickers: false,
            startOnMonday: true,
            showFooter: false,
            calendarCount: 1,
            startDate: Date.now(),
            endDate: Date.now(),
            format: "DD/MM/YYYY",
            dateSeparator: '/-/',
            locale: "el",
            onaftershow: () =>
                //Fix Calentim width
                [...document.getElementsByClassName('calentim-input')]
                    .forEach((calentim) =>
                        calentim.setAttribute('style', 'width: 400px;'))
        });

        const DestroyDataTable = () => $('#EmployeesWorkHourConcentricDatatable')
            .DataTable().destroy();

        $('#DataTableSearch').on('click', () => {
            if (!$.fn.dataTable.isDataTable("#EmployeesWorkHourConcentricDatatable"))
                CreateDataTable();

            $('#EmployeesWorkHourConcentricDatatable').DataTable().ajax.reload();
        });

        var CreateDataTable = () =>
            new DataTableService('#EmployeesWorkHourConcentricDatatable')
                .ForApiController('projections')
                .AddColumn(true, true, "LastName")
                .AddColumn(true, true, "FirstName")
                .AddColumn(true, true, "ErpCode")
                .AddColumn(false, false, "TotalHours")
                .AddColumn(false, false, "TotalHoursDay")
                .AddColumn(false, false, "TotalHoursNight")
                .AddColumn(false, false, "TotalHoursSaturdayDay")
                .AddColumn(false, false, "TotalHoursSaturdayNight")
                .AddColumn(false, false, "TotalHoursSundayDay")
                .AddColumn(false, false, "TotalHoursSundayNight")
                .FixedLeftColums(2)
                .AjaxData((data, type, row, meta) => {
                    data.predicate = 'ProjectionConcentric';
                    if (GetSelectedWorkPlaceId() != '')
                        data.filterByWorkPlaceId = GetSelectedWorkPlaceId();
                    data.StartOn = ConvertDateForApi(GetStartOn().valueOf());
                    data.EndOn = ConvertDateForApi(GetEndOn().valueOf());
                    data.ShowHoursInPercentage = GetSliderHourChoiceValue();
                    return JSON.stringify(data);
                })
                .FooterCallback((row, data, start, end, display) => {
                    row.children[3].innerHTML = "Σύνολο ώρες: " + data[0]?.TotalFooterHours;
                    row.children[4].innerHTML = "Σύνολο ώρες Μέρα: " + data[0]?.TotalFooterHoursDay;
                    row.children[5].innerHTML = "Σύνολο ώρες Νύχτα: " + data[0]?.TotalFooterHoursNight;
                    row.children[6].innerHTML = "Σύνολο ώρες Σάββατο Μέρα: " + data[0]?.TotalFooterSaturdayDay;
                    row.children[7].innerHTML = "Σύνολο ώρες Σάββατο Νύχτα: " + data[0]?.TotalFooterSaturdayNight;
                    row.children[8].innerHTML = "Σύνολο ώρες Κυριακή Μέρα: " + data[0]?.TotalFooterSundayDay;
                    row.children[9].innerHTML = "Σύνολο ώρες Κυριακή Νύχτα: " + data[0]?.TotalFooterSundayNight;
                })
                .CompleteDataTable();

    </script>
}
 
