@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Filter"]</h3>
            </div>

            <hr />

            <div class="box-body">
                <div style="width:100%;">
                    <div style="width:50%; float:left;">
                        <div class="form-group">
                            <label class="control-label">Χρονοδιάγραμμα </label>
                            <div class="input-group" style="width:100%">
                                <select id="TimeShift_Select2" style="width:70%"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Χρονικό έυρος</label>
                            <div class="input-group">
                                <input id="SearchRangeInput" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div style="width:50%; float:left;">
                        <div class="form-group">
                            <label class="control-label">Μέρες ρεπού και άνω</label>
                            <div class="input-group">
                                <input type="number" min="0" value="3" id="FilterDayOff_Min" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Μέρες ρεπού και κάτω</label>
                            <div class="input-group">
                                <input type="number" min="0" value="0" id="FilterDayOff_Max" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer" style="text-align:center;">
                <button id="DataTableSearch" class="btn btn-primary"><i class="fa fa-search"></i> Αναζήτηση</button>
            </div>

        </div>
    </div>
    <div class="col-md-3"> </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box box-danger" style="margin-top:5%;">
            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <hr />
            <div class="box-body table-responsive">
                <table id="EmployeeConsecutiveDayOff" class="table table-bordered table-hover table-responsive stripe">
                    <thead>
                        <tr>
                            <th>Επίθετο</th>
                            <th>Όνομα</th>
                            <th>ΑΦΜ</th>
                            <th>Πόστο</th>
                            <th>Χρονοδιάγραμμα</th>
                            @*<th>Τελευταία ημέρα εργ.</th>*@
                            <th>Συνεχής μέρες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Επίθετο</th>
                            <th>Όνομα</th>
                            <th>ΑΦΜ</th>
                            <th>Πόστο</th>
                            <th>Χρονοδιάγραμμα</th>
                            @*<th>Τελευταία ημέρα εργ.</th>*@
                            <th>Συνεχής μέρες</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/jQueryMonthPicker/MonthPicker.js"></script>

    <script>
        const ConvertDateForApi = timeStamp =>
            CompleteTimeWithZerosForApiPost(new Date(parseInt(timeStamp)));
        CompleteTimeWithZerosForApiPost = date => {
            var year = date.getFullYear();
            var month = String((date.getMonth() + 1)).length == 1 ?
                '0' + (date.getMonth() + 1) : (date.getMonth() + 1);
            var day = String(date.getDate()).length == 1 ?
                '0' + date.getDate() : date.getDate();
            var hour = String(date.getHours()).length == 1 ?
                '0' + date.getHours() : date.getHours();
            var min = String(date.getMinutes()).length == 1 ?
                '0' + date.getMinutes() : date.getMinutes();

            return year + '-' + month + '-' + day + 'T' + hour + ':' + min;
        }

        const GetSelectedTimeshiftId = () =>
            document.getElementById('TimeShift_Select2').value;

        const GetSelectedMonth = () =>
            document.getElementById('MonthFilter').value.split('/')[0];

        const GetSelectedYear = () =>
            document.getElementById('MonthFilter').value.split('/')[1];

        const GetFilterDayOff_Max = () =>
            document.getElementById('FilterDayOff_Max').value;

        const GetFilterDayOff_Min = () =>
            document.getElementById('FilterDayOff_Min').value;

        const GetStartOn = () => ConvertDateForApi(moment(document.getElementById('SearchRangeInput').value
            .split('/-/')[0], 'DD/MM/YYYY').valueOf());

        const GetEndOn = () =>
            ConvertDateForApi(new Date(moment(document.getElementById('SearchRangeInput').value
                .split('/-/')[1], 'DD/MM/YYYY').valueOf()).setHours(23, 59, 59).valueOf());

    </script>

    <script>

        $('#SearchRangeInput').calentim({
            showTimePickers: false,
            startOnMonday: true,
            showFooter: false,
            calendarCount: 1,
            format: "DD/MM/YYYY",
            dateSeparator: '/-/',
            locale: "el",
            onaftershow: () =>
                //Fix Calentim width
                [...document.getElementsByClassName('calentim-input')]
                    .forEach((calentim) =>
                        calentim.setAttribute('style', 'width: 400px;'))
        });

        //TimeShift Select2
        $('#TimeShift_Select2').select2({
            placeholder: "Επέλεξε χρονοδιάγραμμα",
            allowClear: true,
            ajax: {
                url: '/api/timeshifts/select2',
                data: (params) => ({
                    search: params.term,
                    page: params.page || 1
                })
            }
        });


        const DestroyDataTable = () => $('#EmployeeConsecutiveDayOff')
            .DataTable().destroy();

        $('#DataTableSearch').on('click', () => {
            if (!$.fn.dataTable.isDataTable("#EmployeeConsecutiveDayOff"))
                CreateDataTable();

            $('#EmployeeConsecutiveDayOff').DataTable().ajax.reload();
        });

        var CreateDataTable = () =>
            new DataTableService('#EmployeeConsecutiveDayOff')
                .ForApiController('projections')
                .AddColumn(false, false, "LastName")
                .AddColumn(false, false, "FirstName")
                .AddColumn(false, false, "VatNumber")
                .AddColumn(false, false, "WorkPlaceTitle")
                .AddColumn(false, false, "TimeShiftTitle")
                //.AddColumn(false, false, "LastConsecutiveDay")
                .AddColumn(false, false, "ConsecutiveDays")
                .AjaxData((data, type, row, meta) => {
                    data.predicate = 'ProjectionEmployeeConsecutiveDayOff';

                    data.StartOn = GetStartOn();
                    data.EndOn = GetEndOn();

                    if (GetSelectedTimeshiftId() != '')
                        data.filterByTimeShiftId = GetSelectedTimeshiftId();



                    data.filterByConsecutiveDayOff_Max = GetFilterDayOff_Max();
                    data.filterByConsecutiveDayOff_Min = GetFilterDayOff_Min();
                    return JSON.stringify(data);
                })
                .CompleteDataTable();
    </script>
}
