@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Filter"]</h3>
            </div>

            <hr />

            <div class="box-body">
                <div style="width:100%;">
                    <div style="width:50%; float:left;">
                        <div class="input-group" style="width:100%; margin-bottom:10px;">
                            <label class="control-label">Πόστο</label> @* TimeShift *@
                            <div class="form-group">
                                <select id="WorkPlace_Select2" style="width:70%"></select>
                            </div>
                        </div>
                        <div style="width:100%; float:left;">
                            <div style="width:70%; float:left;">
                                <label class="control-label">Έλεγχος υπερωρίας</label>
                            </div>
                            <div style="width:30%; float:left;">
                                <input type="checkbox" class="filterSlider" id="SliderValidateOvertime" checked>
                            </div>
                        </div>
                        <div style="width:100%; float:left;">

                            <div style="width:70%; float:left;">
                                <label class="control-label">Έλεγχος ρεπό/εβδομάδα</label>
                            </div>
                            <div style="width:30%; float:left;">
                                <input type="checkbox" class="filterSlider" id="SliderValidateDayOfDaysPerWeek" checked>
                            </div>
                        </div>
                        <div style="width:100%; float:left;">
                            <div style="width:70%; float:left;">
                                <label class="control-label">Έλεγχος εργ.ημέρες/εβδομάδα</label>
                            </div>
                            <div style="width:30%; float:left;">
                                <input type="checkbox" class="filterSlider" id="SliderValidateWorkDaysPerWeek" checked>
                            </div>
                        </div>
                        <div style="width:100%; float:left;">
                            <div style="width:70%; float:left;">
                                <label class="control-label">Έλεγχος ώρες/εβδομάδα</label>
                            </div>
                            <div style="width:30%; float:left;">
                                <input type="checkbox" class="filterSlider" id="SliderValidateHoursPerWeek" checked>
                            </div>
                        </div>
                        <div style="width:100%; float:left;">
                            <div style="width:70%; float:left;">
                                <label class="control-label">Έλεγχος ώρες/ημέρα</label>
                            </div>
                            <div style="width:30%; float:left;">
                                <input type="checkbox" class="filterSlider" id="SliderWorkingHoursPerDay" checked>
                            </div>
                        </div>
                    </div>
                    <div style="width:50%; float:left;">
                        <div style="width:100%; float:left;">
                            <label class="control-label">Χρονικό έυρος</label>
                            <div class="input-group">
                                <input id="SearchRangeInput" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-footer" style="text-align:center;">
                <button id="DataTableSearch" class="btn btn-primary"><i class="fa fa-search"></i> Αναζήτηση</button>
            </div>

        </div>
    </div>
    <div class="col-md-3"> </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box box-danger" style="margin-top:5%;">
            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <hr />
            <div class="box-body table-responsive">
                <table id="TimeShiftSuggestionsDatatable" class="table table-bordered table-hover table-responsive stripe">
                    <thead>
                        <tr>
                            <th>Επίθετο</th>
                            <th>Όνομα</th>
                            <th>ΑΦΜ</th>
                            <th>Βάρδια</th>
                            <th>Πόστο</th>
                            <th>Πρόβλημα</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Επίθετο</th>
                            <th>Όνομα</th>
                            <th>ΑΦΜ</th>
                            <th>Βάρδια</th>
                            <th>Πόστο</th>
                            <th>Πρόβλημα</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        const GetSelectedWorkPlaceId = () =>
            document.getElementById('WorkPlace_Select2').value;

        const GetSliderValidateOvertimeValue = () =>
            document.getElementById('SliderValidateOvertime').checked == true;

        const GetSliderSliderValidateDayOfDaysPerWeekValue = () =>
            document.getElementById('SliderValidateDayOfDaysPerWeek').checked == true;

        const GetSliderValidateWorkDaysPerWeekValue = () =>
            document.getElementById('SliderValidateWorkDaysPerWeek').checked == true;

        const GetSliderValidateHoursPerWeekValue = () =>
            document.getElementById('SliderValidateHoursPerWeek').checked == true;

        const GetSliderWorkingHoursPerDayValue = () =>
            document.getElementById('SliderWorkingHoursPerDay').checked == true;

        const GetStartOn = () =>
            new DateService()
                .ConvertFrom.String.DDMMYYYY_HHMM(
                    document.getElementById('SearchRangeInput').value.split('/-/')[0])
                .To.Api()

        const GetEndOn = () =>
            new DateService()
                .ConvertFrom.String.DDMMYYYY_HHMM(
                    document.getElementById('SearchRangeInput').value.split('/-/')[1])
                .To.Api()

        const setHoursToMax = date => {
            var newDate = new Date(date);
            newDate.setHours(23, 59, 59);
            return moment(newDate);
        }

        const DestroyDataTable = () => $('#TimeShiftSuggestionsDatatable')
            .DataTable().destroy();

        const DeleteDataTableHTML = () =>
            document.getElementById('TimeShiftSuggestionsDatatable').remove();
    </script>


    <!--///////////////////////////////////////-->
    <!--///             Libraries           ///-->
    <!--///////////////////////////////////////-->
    <script>
        $('.filterSlider').bootstrapToggle({
            on: '',
            off: ''
        });


        $(() => {
            $('#WorkPlace_Select2').select2({
                placeholder: "Επέλεξε πόστο",
                allowClear: true,
                ajax: {
                    url: '/api/workplaces/select2',
                    data: params => ({
                        search: params.term,
                        page: params.page || 1
                    })
                }
            });

            $('#SearchRangeInput').calentim({
                showTimePickers: false,
                startOnMonday: true,
                showFooter: false,
                startDate: Date.now(),
                calendarCount: 1,
                format: "DD/MM/YYYY",
                dateSeparator: '/-/',
                locale: "el",
                onaftershow: () =>
                    //Fix Calentim width
                    [...document.getElementsByClassName('calentim-input')]
                        .forEach((calentim) =>
                            calentim.setAttribute('style', 'width: 400px;'))
            });


            const DestroyDataTable = () => $('#TimeShiftSuggestionsDatatable')
                .DataTable().destroy();

            $('#DataTableSearch').on('click', () => {
                if (!$.fn.dataTable.isDataTable("#TimeShiftSuggestionsDatatable"))
                    CreateDataTable();

                $('#TimeShiftSuggestionsDatatable').DataTable().ajax.reload();
            });

            var CreateDataTable = () =>
                new DataTableService('#TimeShiftSuggestionsDatatable')
                    .ForApiController('projections')
                    .AddColumn(true, true, "LastName")
                    .AddColumn(true, true, "FirstName")
                    .AddColumn(true, true, "VatNumber")
                    .AddColumn(true, true, "WorkHour")
                    .AddColumn(true, true, "Title")
                    .AddColumn(true, true, "Error")
                    .FixedLeftColums(2)
                    .AjaxData((data, type, row, meta) => {
                        data.predicate = 'ProjectionErganiSuggestions';
                        if (GetSelectedWorkPlaceId() != '')
                            data.filterByWorkPlaceId = GetSelectedWorkPlaceId();
                        data.filterByValidateOvertime = GetSliderValidateOvertimeValue();
                        data.filterByValidateDayOfDaysPerWeek = GetSliderSliderValidateDayOfDaysPerWeekValue();
                        data.filterByValidateWorkDaysPerWeek = GetSliderValidateWorkDaysPerWeekValue();
                        data.filterByValidateHoursPerWeek = GetSliderValidateHoursPerWeekValue();
                        data.filterByValidateWorkingHoursPerDay = GetSliderWorkingHoursPerDayValue();
                        if (GetStartOn() != "Invalid Date") {

                            data.startOn = GetStartOn();
                            data.endOn = GetEndOn();
                        }
                        return JSON.stringify(data);
                    })
                    .CompleteDataTable();
        })

    </script>
}
