@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Filter"]</h3>
            </div>

            <hr />


            <div class="box-body">
                <div style="width:100%;">
                    <div style="width:50%; float:left;">
                        <div class="form-group">
                            <label class="control-label">Πόστο</label>
                            <div class="input-group" style="width:100%">
                                <select id="WorkPlace_Select2" style="width:70%"></select>
                            </div>
                        </div>
                    </div>
                    <div style="width:50%; float:left;">
                        <div style="width:80%; float:left;">
                            <label class="control-label">Χρονικό έυρος</label>
                        </div>
                        <div style="width:20%; float:left;">
                            <button type="button" id="AppendCalentim" class="btn btn-success"><i class="fa fa-plus"></i></button>
                        </div>
                        <div style="width:100%; float:left;">
                            <div id="CalentimDiv"></div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box box-danger" style="margin-top:5%;">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <hr />
            <div id="AppendHere_Datatable"></div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>

        var Count = 0;
        const ConvertDateForApi = timeStamp =>
            CompleteTimeWithZerosForApiPost(new Date(parseInt(timeStamp)));

        CompleteTimeWithZerosForApiPost = date => {
            var year = date.getFullYear();
            var month = String((date.getMonth() + 1)).length == 1 ?
                '0' + (date.getMonth() + 1) : (date.getMonth() + 1);
            var day = String(date.getDate()).length == 1 ?
                '0' + date.getDate() : date.getDate();
            var hour = String(date.getHours()).length == 1 ?
                '0' + date.getHours() : date.getHours();
            var min = String(date.getMinutes()).length == 1 ?
                '0' + date.getMinutes() : date.getMinutes();

            return year + '-' + month + '-' + day + 'T' + hour + ':' + min;
        }
        const GetSelectedWorkPlaceId = () =>
            document.getElementById('WorkPlace_Select2').value;

        const GetSelectedDate = (num) =>
            new Date(moment(document.getElementById('CalnentimNum_'+num).value
                .split('/-/')[0], 'DD/MM/YYYY').format('MM/DD/YYYY HH:mm'));


        const GetDaysToAppentNums=() =>
            [...document.getElementsByClassName('CalentimInputs')]
                .filter(input => input.value != '')
                .map(input => input.id.split('_')[1]);

        const GetCalentimValuesForApi = () =>
            GetDaysToAppentNums().map(num => ConvertDateForApi(GetSelectedDate(num).valueOf()));

        const setHoursToMax = date => {
            var newDate = new Date(date);
            newDate.setHours(23, 59, 59);
            return moment(newDate);
        }

        const CreateDatatableColumns = () => {
            var columns = []
            columns.push({
                data: "FirstName",
                searchable: false,
                orderable: true,
                render: (a, b, data, d) => RenderDataFromDatatable(data,
                    'FirstName')
            });
            columns.push({
                data: "LastName",
                searchable: false,
                orderable: true,
                render: (a, b, data, d) => RenderDataFromDatatable(data,
                    'LastName')
            });
            columns.push({
                data: "ErpCode",
                searchable: false,
                orderable: true,
                render: (a, b, data, d) => RenderDataFromDatatable(data,
                    'ErpCode')
            });
            columns.push({
                data: "ΑΦΜ",
                searchable: false,
                orderable: true,
                render: (a, b, data, d) => RenderDataFromDatatable(data,
                    'ΑΦΜ')
            });

            [...document.getElementsByClassName('CalentimInputs')]
                .filter(input => input.value != '')
                .map(input => input.id.split('_')[1]);
            for (var i = 0; i < GetDaysToAppentNums().length; i++)
                columns.push({
                    "data": "Day_" + i,
                    "searchable": false,
                    "orderable": true
                });
            return columns;
        }


        const RenderDataFromDatatable = (data, property) => {
            if (data[property] != null)
                return data[property];
            else
                return "";
        }

        const GetDaysColumns = () =>
            GetDaysToAppentNums().map(num => CreateThElement(GetSelectedDate(num))).join();

        const CreateThElement = (date) =>
            '<th style="white-space: nowrap;">' +
            moment(date, 'YYYY/MM/DD HH:mm:ss').lang("el").format("MMM") +
            ' ' +
            date.getDate() +
            ' ' +
            moment(date, 'YYYY/MM/DD HH:mm:ss').lang("el").format("dddd") +
            '</th>';

        const DeleteDataTableHTML = () =>
            document.getElementById('DatatableDiv').remove();

        var DestroyDataTable = () => $('#RealWorkHoursSpecificDatesDatatable')
            .DataTable().destroy();

        $('#AppendCalentim').on('click', (e) => {
            Count++;
            AppendNewCalentimHTML(Count);
            InitiateCalentim(Count);
        });

        $(document).on('click', '.DeleteCalentimButton',(e) =>
            document.getElementById('CalnentimDivNum_' + e.target.id.split('_')[1])
                .remove())
    </script>
    <script>

        $('#WorkPlace_Select2').select2({
            ajax: {
                url: '/api/workplaces/select2',
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page || 1
                    }
                    return query;
                }
            }
        }).on('change', () =>
            $('#RealWorkHoursSpecificDatesDatatable').DataTable().ajax.reload());

        const InitiateCalentim = num=>
            $('#CalnentimNum_'+num).calentim({
                showTimePickers: false,
                startOnMonday: true,
                showFooter: false,
                singleDate: true,
                calendarCount: 1,
                //startDate:  Date.now(),
                //endDate:  Date.now(),
                format: "DD/MM/YYYY",
                dateSeparator: '/-/',
                locale: "el",
                onafterselect: () => {
                    DestroyDataTable();
                    DeleteDataTableHTML();
                    AppendNewDataTableHTML();
                    CreateDataTable();
                },
                onaftershow: () =>
                    //Fix Calentim width
                    [...document.getElementsByClassName('calentim-input')]
                        .forEach((calentim) =>
                            calentim.setAttribute('style', 'width: 400px;'))
            });

        var CreateDataTable = () =>
        $('#RealWorkHoursSpecificDatesDatatable').DataTable({
            serverSide: true,
            responsive: true,
            colReorder: true,
            processing: true,
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                dom: 'Bfrtlp',
                ajax: {
                    url: '/api/employees/datatable',
                    type: 'POST',
                    contentType: "application/json",
                    data: (data, type, row, meta) => {

                        data.predicate = 'ProjectionRealWorkHoursSpecific';
                        if (GetSelectedWorkPlaceId() != '')
                            data.genericId = GetSelectedWorkPlaceId();

                        data.specificDates = GetCalentimValuesForApi()
                        return JSON.stringify(data);
                    }
                },
                order: [[1, 'desc']],
                columns: CreateDatatableColumns()
            });



        const AppendNewDataTableHTML = () =>
            document.getElementById('AppendHere_Datatable').insertAdjacentHTML('beforeend',''+
                '<div class="box-body table-responsive" id="DatatableDiv">'+
                    '<table id="RealWorkHoursSpecificDatesDatatable" class="table table-bordered table-hover table-responsive">'+
                        '<thead>'+
                            '<tr>'+
                                '<th>Όνομα</th>'+
                                '<th>Επίθετο</th>'+
                                '<th>Erp Code</th>'+
                                '<th>ΑΦΜ</th>'+
                                GetDaysColumns()+
                            '</tr>'+
                        '</thead>'+
                        '<tfoot>'+
                            '<tr>'+
                                '<th>Όνομα</th>'+
                                '<th>Επίθετο</th>'+
                                '<th>Erp Code</th>'+
                                '<th>ΑΦΜ</th>'+
                                GetDaysColumns()+
                            '</tr>'+
                        '</tfoot>'+
                    '</table>'+
                '</div>'+
                '');

           const AppendNewCalentimHTML = num =>
               document.getElementById('CalentimDiv').insertAdjacentHTML('beforeend',''+
                '<div  id="CalnentimDivNum_'+num+'">'+
                    '<div style="width:70%;float:left">'+
                        '<div class="input-group">'+
                           '<input  id="CalnentimNum_' + num +'" class="form-control CalentimInputs" />'+
                        '</div>'+
                    '</div>'+
                    '<div style="width:30%; float:left">'+
                   '<button type="button"  id="DeleteCalentimButtonNum_' + num + '" class="btn btn-danger DeleteCalentimButton"><i class="fa fa-trash DeleteCalentimButton" id="DeleteCalentimINum_' + num +'"></i></button>'+
                    '</div>'+
                '</div>'+
                '');



        $(document).ready(AppendNewDataTableHTML());
        $(document).ready(CreateDataTable());

    </script>
}
