@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Filter"]</h3>
            </div>

            <hr />


            <div class="box-body">
                <div style="width:100%;">
                    <div style="width:50%; float:left;">
                        <div class="input-group" style="width:100%; margin-bottom:10px;">
                            <label class="control-label">Πόστο</label>
                            <div class="form-group">
                                <select id="WorkPlace_Select2" style="width:70%"></select>
                            </div>
                        </div>
                    </div>
                    <div style="width:50%; float:left;">
                        <label class="control-label">Χρονικό έυρος</label>
                        <div class="input-group">
                            <input id="SearchRangeInput" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box box-danger" style="margin-top:5%;">
            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
            </div>
            <hr />
            <div class="box-body table-responsive">
                <table id="RealWorkHourRestrictionsDatatable" class="table table-bordered table-hover table-responsive stripe">
                    <thead>
                        <tr>
                            <th>Πόστο</th>
                            <th>Ημέρα</th>
                            <th>Προβλήματα</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Πόστο</th>
                            <th>Ημέρα</th>
                            <th>Προβλήματα</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/jQueryMonthPicker/MonthPicker.js"></script>

    <script>
        const GetSelectedWorkPlaceId = () =>
            document.getElementById('WorkPlace_Select2').value;

        const GetStartOn = () =>
            new Date(moment(document.getElementById('SearchRangeInput').value
                .split('/-/')[0], 'DD/MM/YYYY').format('MM/DD/YYYY HH:mm'));

        const GetEndOn = () => {
            var date = new Date(moment(document.getElementById('SearchRangeInput').value
                .split('/-/')[1], 'DD/MM/YYYY').format('MM/DD/YYYY HH:mm'));
            date.setHours(23, 59, 59, 59);
            return new Date(date);
        }
    </script>

    <script>
        $('#WorkPlace_Select2').select2({
            placeholder: "Επέλεξε πόστο",
            allowClear: true,
            ajax: {
                url: '/api/workplaces/select2',
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page || 1
                    }
                    return query;
                }
            }
        }).on('change', () =>
            $('#RealWorkHourRestrictionsDatatable').DataTable().ajax.reload());

        $('#SearchRangeInput').calentim({
            showTimePickers: false,
            startOnMonday: true,
            showFooter: false,
            calendarCount: 1,
            startDate: Date.now(),
            endDate: Date.now(),
            format: "DD/MM/YYYY",
            dateSeparator: '/-/',
            locale: "el",
            onafterselect: () => {
                $('#RealWorkHourRestrictionsDatatable').DataTable().ajax.reload()

            },
            onaftershow: () =>
                //Fix Calentim width
                [...document.getElementsByClassName('calentim-input')]
                    .forEach((calentim) =>
                        calentim.setAttribute('style', 'width: 400px;'))
        });

        var table = new DataTableService('#RealWorkHourRestrictionsDatatable')
            .ForApiController('projections')
            .StartOrderFromCol(0)
            .AddColumn(true, true, "WorkPlaceTitle")
            .AddColumn(false, false, "DateError")
            .AddColumn(false, false, "Error")
            .FixedLeftColums(2)
            .AjaxData((data, type, row, meta) => {
                data.predicate = 'ProjectionRealWorkHourRestrictions';
                if (GetSelectedWorkPlaceId() != '')
                    data.filterByWorkPlaceId = GetSelectedWorkPlaceId();

                data.StartOn = new DateService().ConvertFrom.TimeStamp(GetStartOn().valueOf()).To.Api();
                data.EndOn = new DateService().ConvertFrom.TimeStamp(GetEndOn().valueOf()).To.Api();
                return JSON.stringify(data);
            })
            .CompleteDataTable();

    </script>
}
