@model IEnumerable<DataAccess.Models.Entity.WorkPlace>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">


        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonCreateNew("WorkPlace")
                    @Html.ButtonImport("WorkPlace")
                </div>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="WorkPlacesDatatable" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Τίτλος</th>
                            <th>Πελάτης</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th data-searchable="true">Τίτλος</th>
                            <th data-searchable="true">Πελάτης</th>
                            <th data-searchable="false">Ενέργειες</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>

</div>
<partial name="_ImportModal" model='new {Entity = "WorkPlace" }'>
    @section Scripts {
        <script>

            $('#WorkPlacesDatatable').DataTable({
                serverSide: true,
                dom: 'frtlp',
                ajax: {
                    url: '/api/workplaces/datatable',
                    type: 'POST',
                    contentType: "application/json",
                    data: (data, type, row, meta) => {
                        data.predicate = 'WorkPlaceIndex';
                        return JSON.stringify(data);
                    }
                },
                order: [[0, 'desc']],
                columns: [
                    {
                        data: "Title",
                        searchable: true,
                        orderable: true,
                        ender: (a, b, data, d) => {
                            console.log(data);
                            if (data.Title != null)
                                return data.Title;
                            else
                                return "";
                        }
                    },
                    {
                        data: "ΙdentifyingΝame",
                        searchable: false,
                        orderable: false,
                        render: (a, b, data, d) => {
                            if (data.ΙdentifyingΝame != null)
                                return data.ΙdentifyingΝame;
                            else
                                return "";
                        }
                    },
                    {
                        data: "Button",
                        searchable: false,
                        orderable: false,
                        render: (a, b, data, d) => {
                            if (data.Buttons != null)
                                return data.Buttons;
                            else
                                return "";
                        }
                    }
                ]
            });
        </script>
    }
