@model IEnumerable<DataAccess.Models.Entity.WorkPlace>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row" style="margin-top:5%;">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonCreateNew("WorkPlace")
                    @Html.ButtonImport("WorkPlace")
                    @Html.ButtonExport("WorkPlace")
                </div>
            </div>
            <hr />
            <div class="box-body table-responsive">
                <table id="WorkPlacesDatatable" class="table table-bordered table-hover table-responsive stripe">
                    <thead>
                        <tr>
                            <th>Τίτλος</th>
                            <th>Πελάτης</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th data-searchable="true">Τίτλος</th>
                            <th data-searchable="true">Πελάτης</th>
                            <th data-searchable="false">Ενέργειες</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>
</div>
<partial name="_ExcelModals" model='new {Entity = "WorkPlace" }'>
    @section Scripts {
        <script>
            $(() => {
                var dataTable = new DataTableService('#WorkPlacesDatatable')
                    .ForApiController('workplaces')
                    .AddColumn(true, true, "Title")
                    .AddColumn(true, true, "IdentifyingName")
                    .AddColumn(false, false, "Buttons")
                    .AjaxData((data, type, row, meta) => {
                        data.Predicate = 'WorkPlaceIndex';
                        return JSON.stringify(data);
                    })
                    .CreatedRow((row, data, dataIndex) => {
                        if (!data.IsActive)
                            $(row).css('background-color', '#AAAFB4');
                    })
                    .CompleteDataTable();
            })
        </script>
    }
