@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonCreateNew("Company")
                    @Html.ButtonImport("Company")
                    @Html.ButtonExport("Company")
                </div>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="CompaniesDatatable" class="table table-bordered table-hover table-responsive stripe">
                    <thead>
                        <tr>
                            <th>Τίτλος</th>
                            <th>ΑΦΜ</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Τίτλος</th>
                            <th>ΑΦΜ</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-3"> </div>

</div>
<partial name="_ExcelModals" model='new {Entity = "Company" }'>
    @section Scripts {
        <script src="~/js/Custom/DatatableDeleteButton.js"></script>
        <script>
            $(() => {
                var dataTable = new DataTableService('#CompaniesDatatable')
                    .ForApiController('companies')
                    .AddColumn(true, true, "Title")
                    .AddColumn(true, true, "VatNumber")
                    .AddColumn(false, false, "Buttons")
                    .FixedLeftColums(1)
                    .AjaxData((data, type, row, meta) => {
                        data.Predicate = 'CompanyIndex';
                        return JSON.stringify(data);
                    })
                    .CreatedRow((row, data, dataIndex) => {
                        if (!data.IsActive)
                            $(row).css('background-color', '#AAAFB4');
                    })
                    .CompleteDataTable();
            })
        </script>
    }
