<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Timeshift Manager</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Loader.Io -->
    <link href="~/css/Spinner/spinner.css" rel="stylesheet" />
    <link href="~/css/LoadingIo/Buttons/ldbtn.min.css" rel="stylesheet" />
    <link href="~/css/LoadingIo/ldLoader/ldld.css" rel="stylesheet" />
    <!-- jQuery UI-->
    <link href="~/css/jQuery UI/jquery-ui.min.css" rel="stylesheet" />
    <!-- jQuery Month Picker -->
    <link href="~/css/jQueryMonthPicker/MonthPicker.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/libs/ionicons/css/ionicons.min.css">
    <!-- DataTable -->
    <link rel="stylesheet" href="~/css/Datatable/Datatable.css">
    <!-- Select2 -->
    <link href="~/css/Select2/Select2.min.css" rel="stylesheet" />
    <!-- Custom Scripts -->
    <link href="~/css/Custom/MainStyle.css" rel="stylesheet" />
    <!-- Celentim-->
    <link href="~/css/Celentim/calentim.min.css" rel="stylesheet" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/libs/bootstrap/css/bootstrap.min.css">
    <!-- Bootstrap Toggle -->
    <link href="~/css/BootstrapToggle/bootstrap-toggle.css" rel="stylesheet" />


    @RenderSection("Styles", required: false)

    <!-- Theme style -->
    <link rel="stylesheet" href="~/libs/admin-lte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/libs/admin-lte/css/skins/_all-skins.min.css">

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


</head>
<body class="hold-transition skin-blue sidebar-mini fixed">

    <div class="wrapper">
        @await Html.PartialAsync("_Header")

        <!-- Left side column. contains the sidebar -->
        @await Html.PartialAsync("_NavBar")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            @await Html.PartialAsync("_StatusMessage", TempData["StatusMessage"])

            <div class="alert alert-success " id="Alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <div id="AlertBody"></div>
            </div>

            <div style="top:1000px"></div>
            @RenderBody()
        </div>
        <!-- Page footer. -->
        @*@await Html.PartialAsync("_Footer")*@

    </div>

    <!-- jQuery -->
    <script src="~/libs/jquery/jquery.min.js"></script>
    <!-- Moment-->
    <script src="~/libs/moment.js/moment-with-locales.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/libs/bootstrap/js/bootstrap.min.js"></script>
    <!-- Datatable-->
    <script src="~/js/Datatable/Datatable.js"></script>
    <script src="~/js/Datatable/dataTables.colReorder.min.js"></script>
    <script src="~/js/Datatable/dataTables.scroller.min.js"></script>
    <script src="~/js/Datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/js/Datatable/dataTables.buttons.min.js"></script>
    <script src="~/js/Datatable/buttons.flash.min.js"></script>
    <script src="~/js/Datatable/jszip.min.js"></script>
    <script src="~/js/Datatable/pdfmake.min.js"></script>
    <script src="~/js/Datatable/vfs_fonts.js"></script>
    <script src="~/js/Datatable/buttons.html5.min.js"></script>
    <script src="~/js/Datatable/buttons.print.min.js"></script>
    <!-- Select2 -->
    <script src="~/js/Select2/Select2.min.js"></script>
    <!-- jQuery UI-->
    <script src="~/js/jQuery UI/jquery-ui.min.js"></script>
    <!-- Bootstrap Toggle -->
    <script src="~/js/BootstrapToggle/bootstrap-toggle.js"></script>
    <!-- Hammer-->
    <script src="~/js/Hammer/Hammer.js"></script>
    <!-- Celentim-->
    <script src="~/js/Celentim/Calentim.js"></script>
    <!-- Loader.Io -->
    <script src="~/js/LoadingIo/ldLoader/ldld.js"></script>
    <!-- SlimScroll -->
    <script src="~/libs/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/libs/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/libs/admin-lte/js/adminlte.min.js"></script>
    <!-- Custom -->
    <script src="~/js/Custom/AlertMessage.js"></script>
    <script src="~/js/Custom/Excel.js"></script>

    @RenderSection("Scripts", required: false)
    <!-- ASP.NET site script -->
    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        })
    </script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
</body>
</html>