@model DataAccess.ViewModels.EmployeeCreateViewModel

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonBackToList("Employee")
                </div>
            </div>

            <hr />

            <form asp-controller="Employee" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="box-body">

                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="DateOfBirth" type="text" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ErpCode" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="ErpCode" class="form-control" />
                            <span asp-validation-for="ErpCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Afm" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Afm" class="form-control" />
                            <span asp-validation-for="Afm" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SocialSecurityNumber" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="SocialSecurityNumber" class="form-control" />
                            <span asp-validation-for="SocialSecurityNumber" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="SpecializationId" class="control-label"></label>
                        <div class="input-group" style="width:100%">
                            <select class="Specialization_Select2" asp-for="SpecializationId" style="width:70%"></select>
                            <span asp-validation-for="SpecializationId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="CompanyId" class="control-label"></label>
                        <div class="input-group" style="width:100%">
                            <select class="Company_Select2" asp-for="CompanyId" style="width:70%"></select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label asp-for="Contacts" class="control-label"></label>
                        <div class="input-group" style="width:70%">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <b>Προσθήκη επαφής </b>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" onclick="AppendContactForm()" class="btn btn-success"><i class="fa fa-plus"></i></button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row" id="ContactInput" style="width:100%"></div>
                        </div>
                    </div>

                    <div class="form-group pull-right">
                        <input type="submit" value="Αποθήκευση" class="btn btn-primary " />
                    </div>

                </div>
            </form>

        </div>
    </div>
    <div class="col-md-3"> </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Custom/Contacts.js"></script>

    <script>
        $('.Specialization_Select2').select2({
            allowClear: true,
            ajax: {
                url: '/api/specializations/select2',
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page || 1
                    }
                    return query;
                }
            }
        });

        $('.Company_Select2').select2({
            allowClear: true,
            ajax: {
                url: '/api/companies/select2',
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page || 1
                    }
                    return query;
                }
            }
        });

        $('#DateOfBirth').calentim({
            showTimePickers: false,
            startOnMonday: true,
            showHeader: true,
            showButtons: true,
            singleDate: true,
            startDate: Date.now(),
            endDate: Date.now(),
            format: "DD/MM/YYYY",
            calendarCount: 1,
            locale: "el",
            showOn: "right",
            onaftershow: () =>
                //Fix Calentim width
                [...document.getElementsByClassName('calentim-input')]
                    .forEach((calentim) =>
                        calentim.setAttribute('style', 'width: 400px;'))
        })
    </script>

}
