@model DataAccess.Models.Entity.Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">
            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonBackToList("Employee")
                    @Html.ButtonGoToEdit("Employee", Model.Id)
                </div>
            </div>

            <hr />

            <div class="box-body">

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="FirstName" class="form-control" readonly="readonly" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="LastName" class="form-control" readonly="readonly" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="DateOfBirth" class="form-control" readonly="readonly" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" readonly="readonly" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ErpCode" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="ErpCode" class="form-control" readonly="readonly" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Afm" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Afm" class="form-control" readonly="readonly" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SocialSecurityNumber" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="SocialSecurityNumber" class="form-control" readonly="readonly" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Specialization" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Specialization.Name" class="form-control" readonly="readonly" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Company" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Company.Title" class="form-control" readonly="readonly" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="CreatedOn" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="CreatedOn" class="form-control" readonly="readonly" disabled />
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-3"> </div>
</div>


<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-10">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["WorkPlaceDataTable"]</h3>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="WorkPlacesDatatable" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Επωνυμία</th>
                            <th>Πελάτη</th>
                            <th>Βρισκεται στα πόστα</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Επωνυμία</th>
                            <th>Πελάτη</th>
                            <th>Βρισκεται στα πόστα</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"> </div>
</div>
@* Add go to edit *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Custom/Contacts.js"></script>

    <script>
        $('#WorkPlacesDatatable').DataTable({
            serverSide: true,
            responsive: true,
            colReorder: true,
            processing: true,
            dom: 'Bfrtlp',
            buttons: ['excel', 'print'],
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only"></span> '
            },
                ajax: {
                    url: '/api/workplaces/datatable',
                    type: 'POST',
                    contentType: "application/json",
                    data: (data, type, row, meta) => {

                        data.predicate = 'EmployeeDetails';
                        data.genericId =@Model.Id;

                        return JSON.stringify(data);
                    }
                },
                order: [[0, 'desc']],
                columns: [
                    {
                        data: "Title",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            //console.log(data);
                            if (data.Title != null)
                                return data.Title;
                            else
                                return "";
                        }
                    },
                    {
                        data: "IdentifyingName",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            if (data.IdentifyingName != null)
                                return data.IdentifyingName;
                            else
                                return "";
                        }
                    },
                    {
                        data: "IsInWorkPlace",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            if (data.IsInWorkPlace != null)
                                return data.IsInWorkPlace;
                            else
                                return "";
                        }
                    }
                ],
                fnDrawCallback:  () =>
                    $('.ToggleSliders').bootstrapToggle({
                        on: 'Ναί',
                        off: 'Όχι'
                    }),
            });

    </script>
}