@model DataAccess.Models.Entity.Employee

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }



<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">
            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonBackToList("Employee")
                    @Html.ButtonGoToEdit("Employee", Model.Id)
                </div>
            </div>

            <hr />

            <div class="box-body">

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="FirstName" class="form-control" readonly disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="LastName" class="form-control" readonly disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ErpCode" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="ErpCode" class="form-control" readonly disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="VatNumber" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="VatNumber" class="form-control" readonly disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="SocialSecurityNumber" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="SocialSecurityNumber" class="form-control" readonly disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="HireDate" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="HireDate" type="text" class="form-control" readonly disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ContractStartOn" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="ContractStartOn" type="text" class="form-control" readonly disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="ContractEndOn" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="ContractEndOn" type="text" class="form-control" readonly disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Specialization" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Specialization.Name" class="form-control" readonly disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Company" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Company.Title" class="form-control" readonly disabled />
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="col-md-3"> </div>
</div>


<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-10">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["WorkPlaceDataTable"]</h3>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="WorkPlacesDatatable" class="table table-bordered table-hover table-responsive stripe">
                    <thead>
                        <tr>
                            <th>Επωνυμία</th>
                            <th>Πελάτη</th>
                            <th>Βρισκεται στα πόστα</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Επωνυμία</th>
                            <th>Πελάτη</th>
                            <th>Βρισκεται στα πόστα</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-1"> </div>
</div>
@* Add go to edit *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/Custom/Contacts.js"></script>

    <script>
        $(() => new DataTableService('#WorkPlacesDatatable')
            .ForApiController('workplaces')
            .AddColumn(true, true, "Title")
            .AddColumn(true, true, "IdentifyingName")
            .AddColumn(true, true, "IsInWorkPlace")
            .AjaxData((data, type, row, meta) => {
                data.predicate = 'EmployeeDetails';
                data.genericId =@Model.Id;
                return JSON.stringify(data);
            })
            .FnDrawCallback(()=>
                $('.ToggleSliders').bootstrapToggle({
                    on: 'Ναί',
                    off: 'Όχι'
                }))
            .CompleteDataTable());
    </script>
}
