@model IEnumerable<DataAccess.Models.Entity.Employee>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2"> </div>
    <div class="col-md-8">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonCreateNew("Employee")
                    @Html.ButtonImport("Employee")
                </div>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="EmployeesDatatable" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Όνομα</th>
                            <th>Επίθετο</th>
                            <th>Email</th>
                            <th>ErpCode</th>
                            <th>ΑΦΜ</th>
                            <th>Ειδικότητα</th>
                            <th>Εταιρία</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Όνομα</th>
                            <th>Επίθετο</th>
                            <th>Email</th>
                            <th>ErpCode</th>
                            <th>ΑΦΜ</th>
                            <th>Ειδικότητα</th>
                            <th>Εταιρία</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2"> </div>

</div>
<partial name="_ImportModal" model='new {Entity = "Employee" }'>

    @section Scripts {
        <script src="~/js/Custom/DatatableDeleteButton.js"></script>

        <script>
            $('#EmployeesDatatable').DataTable({
                serverSide: true,
                responsive: true,
                colReorder: true,
                processing: true,
                dom: 'Bfrtlp',
                buttons: ['excel', 'print'],
                language: {
                    processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only"></span> '
                },
                ajax: {
                    url: '/api/employees/datatable',
                    type: 'POST',
                    contentType: "application/json",
                    data: (data, type, row, meta) => {
                        data.Predicate = 'EmployeeIndex'
                        return JSON.stringify(data);
                    }
                },
                order: [[0, 'desc']],
                columns: [
                    {
                        data: "FirstName",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            console.log(data);
                            if (data.FirstName != null)
                                return data.FirstName;
                            else
                                return "";
                        }
                    },
                    {
                        data: "LastName",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            if (data.LastName != null)
                                return data.LastName;
                            else
                                return "";
                        }
                    },
                    {
                        data: "Email",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            if (data.Email != null)
                                return data.Email;
                            else
                                return "";
                        }
                    },
                    {
                        data: "ErpCode",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            if (data.ErpCode != null)
                                return data.ErpCode;
                            else
                                return "";
                        }
                    },
                    {
                        data: "Afm",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            if (data.Afm != null)
                                return data.Afm;
                            else
                                return "";
                        }
                    },
                    {
                        data: "ScpecializationName",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            if (data.ScpecializationName != null)
                                return data.ScpecializationName;
                            else
                                return "";
                        }
                    },
                    {
                        data: "CompanyTitle",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            if (data.CompanyTitle != null)
                                return data.CompanyTitle;
                            else
                                return "";
                        }
                    },
                    {
                        data: "Buttons",
                        searchable: true,
                        orderable: true,
                        render: (a, b, data, d) => {
                            if (data.Buttons != null)
                                return data.Buttons;
                            else
                                return "";
                        }
                    }
                ]
            });
        </script>
    }
