@model DataAccess.Models.Entity.WorkTimeShift.TimeShift

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    <button asp-action="Index" class="btn btn-primary">Πίσω στην λίστα</button>
                </div>
            </div>

            <hr />

            <form asp-controller="TimeShift" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="box-body">

                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="StartOn" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="StartOn" class="form-control" />
                            <span asp-validation-for="StartOn" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="EndOn" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="EndOn" class="form-control" />
                            <span asp-validation-for="EndOn" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label asp-for="WorkPlaceId" class="control-label"></label>
                        <div class="input-group" style="width:100%">
                            <select class="WorkPlace_Select2" asp-for="WorkPlaceId" style="width:70%"></select>
                            <span asp-validation-for="WorkPlaceId" class="text-danger"></span>
                        </div>
                    </div>
                  

                    <hr />

                    <div class="form-group pull-right">
                        <input type="submit" value="Αποθήκευση" class="btn btn-primary " />
                    </div>

                </div>
            </form>

        </div>
    </div>
    <div class="col-md-3"> </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.WorkPlace_Select2').select2({
            ajax: {
                url: '/api/workplaces/select2',
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page || 1
                    }
                    return query;
                }
            }
        });
    </script>
}
