@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box-header">
            <h3 class="box-title">@ViewData["Title"]</h3>
            <div class="pull-right">
                <button asp-action="Index" class="btn btn-primary">Πίσω στην λίστα</button>
            </div>
        </div>

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">Διαθέσιμες εταιρίες συστήματος</h3>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="TimeShiftsDatatable" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            
                            <th>Τίτλος</th>
                            <th>Ημερομηνία έναρξης</th>
                            <th>Ημερομηνία λήξης</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th data-searchable="true">Τίτλος</th>
                            <th data-searchable="false">Ημερομηνία έναρξης</th>
                            <th data-searchable="false">Ημερομηνία λήξης</th>
                            <th data-searchable="false">Ενέργειες</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-3"> </div>

</div>

@section Scripts {
    <script src="~/js/Custom/DatatableDeleteButton.js"></script>
    <script>

        jQuery(function () {
            var dateOptions = { year: 'numeric', month: 'numeric', day: 'numeric' };
            var timeOptions = { hour: 'numeric', minute: 'numeric', second: 'numeric' };

            var table = $('#TimeShiftsDatatable').DataTable({
                "serverSide": true,
                "dom": 'frtlp',
                "ajax": {
                    url: '/api/timeshifts/datatable',
                    type: 'POST',
                    contentType: "application/json",
                    data: (data, type, row, meta) => {
                        return JSON.stringify(data);
                    }
                },
                order: [[0, 'desc']],
                "columns": [
                    {
                        "data": "Title",
                        "searchable": true,
                        "orderable": true,
                        render: (a, b, data, d) => {
                            console.log(data);
                            if (data.Title != null)
                                return data.Title;
                            else
                                return "";
                        }
                    },
                    {
                        "data": "StartOn",
                        "searchable": false,
                        "orderable": false,
                        render: (a, b, data, d) => {
                            if (data.StartOn != null)
                                return data.StartOn;
                            else
                                return "";
                        }
                    },
                    {
                        "data": "EndOn",
                        "searchable": false,
                        "orderable": false,
                        render: (a, b, data, d) => {
                            if (data.EndOn != null)
                                return data.EndOn;
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Buttons",
                        "searchable": false,
                        "orderable": false,
                        render: (a, b, data, d) => {
                            if (data.Buttons != null)
                                return data.Buttons;
                            else
                                return "";
                        }
                    }
                ]
            });
        });
    </script>
}