@model IEnumerable<DataAccess.Models.Entity.Leave>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonCreateNew("Leave")
                </div>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="LeaveDatatable" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Υπάλληλος</th>
                            <th>Έναρξη</th>
                            <th>Λήξη</th>
                            <th>Εγκρίθηκε από</th>
                            <th>Τύπος αδείας</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Υπάλληλος</th>
                            <th>Έναρξη</th>
                            <th>Λήξη</th>
                            <th>Εγκρίθηκε από</th>
                            <th>Τύπος αδείας</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>

</div>
@section Scripts {
    <script>
        $('#LeaveDatatable').DataTable({
            serverSide: true,
            responsive: true,
            colReorder: true,
            processing: true,
            dom: 'Bfrtlp',
            buttons: ['excel', 'pdf', 'print'],
            language: {
                processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only"></span> '
            },
            ajax: {
                url: '/api/leaves/datatable',
                type: 'POST',
                contentType: "application/json",
                data: (data, type, row, meta) => {
                    data.Predicate = 'LeaveIndex';
                    return JSON.stringify(data);
                }
            },
            order: [[1, 'desc']],
            columns: [
                {
                    data: "EmployeeFullName",
                    searchable: false,
                    orderable: false,
                    className: "dt-nowrap",
                    render: (a, b, data, d) => {
                        //console.log(data);
                        if (data.EmployeeFullName!= null)
                            return data.EmployeeFullName;
                        else
                            return "";
                    }
                },
                {
                    data: "StartOn",
                    searchable: true,
                    orderable: true,
                    render: (a, b, data, d) => {
                        if (data.StartOn != null)
                            return moment(new Date(data.StartOn)).format('DD/MM/YYYY');
                        else
                            return "";
                    }
                },
                {
                    data: "EndOn",
                    searchable: true,
                    orderable: true,
                    render: (a, b, data, d) => {
                        if (data.EndOn != null)
                            return moment(new Date(data.EndOn)).format('DD/MM/YYYY');
                        else
                            return "";
                    }
                }, {
                    data: "ApprovedBy",
                    searchable: true,
                    orderable: true,
                    render: (a, b, data, d) => {
                        if (data.ApprovedBy != null)
                            return data.ApprovedBy;
                        else
                            return "";
                    }
                }
                , {
                    data: "LeaveTypeName",
                    searchable: false,
                    orderable: false,
                    render: (a, b, data, d) => {
                        if (data.LeaveTypeName != null)
                            return data.LeaveTypeName;
                        else
                            return "";
                    }
                },
                {
                    data: "Buttons",
                    searchable: false,
                    orderable: false,
                    render: (a, b, data, d) => {
                        if (data.Buttons != null)
                            return data.Buttons;
                        else
                            return "";
                    }
                }
            ]
        });
    </script>
}