@model IEnumerable<DataAccess.Models.Entity.Leave>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonCreateNew("Leave")
                </div>
            </div>
            <hr />
            <div class="box-body table-responsive">
                <table id="LeaveDatatable" class="table table-bordered table-hover table-responsive stripe">
                    <thead>
                        <tr>
                            <th>Υπάλληλος</th>
                            <th>Έναρξη</th>
                            <th>Λήξη</th>
                            <th>Εγκρίθηκε από</th>
                            <th>Τύπος αδείας</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Υπάλληλος</th>
                            <th>Έναρξη</th>
                            <th>Λήξη</th>
                            <th>Εγκρίθηκε από</th>
                            <th>Τύπος αδείας</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>

</div>
@section Scripts {
    <script>
        $(() => {
            var dataTable = new DataTableService('#LeaveDatatable')
                .ForApiController('leaves')
                .StartOrderFromCol(1)
                .AddColumn(true, true, "EmployeeFullName")
                .AddColumn(true, true, "StartOn", (a, b, data, d) => {
                    if (data.StartOn != null)
                        return moment(new Date(data.StartOn)).format('DD/MM/YYYY');
                    else
                        return "";
                })
                .AddColumn(true, true, "EndOn", (a, b, data, d) => {
                    if (data.EndOn != null)
                        return moment(new Date(data.EndOn)).format('DD/MM/YYYY');
                    else
                        return "";
                })
                .AddColumn(true, true, "ApprovedBy")
                .AddColumn(true, true, "LeaveTypeName")
                .AddColumn(false, false, "Buttons")
                .AjaxData((data, type, row, meta) => {
                    data.Predicate = 'LeaveIndex';
                    return JSON.stringify(data);
                })
                .CompleteDataTable();
        })
    </script>
}
