@model DataAccess.ViewModels.CustomerCreate

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">
        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonBackToList("Customer")
                </div>
            </div>

            <hr />

            <form asp-controller="Customer" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="box-body">

                    <div class="form-group">
                        <label asp-for="IdentifyingName" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="IdentifyingName" class="form-control" />
                            <span asp-validation-for="IdentifyingName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="AFM" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="AFM" class="form-control" />
                            <span asp-validation-for="AFM" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Profession" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Profession" class="form-control" />
                            <span asp-validation-for="Profession" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="PostalCode" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="DOY" class="control-label"></label>
                        <div class="input-group">
                            <input asp-for="DOY" class="form-control" />
                            <span asp-validation-for="DOY" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <div class="input-group">
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="CompanyId" class="control-label"></label>
                        <div class="input-group" style="width:100%">
                            <select class="Company_Select2" asp-for="CompanyId" style="width:70%"></select>
                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Contacts" class="control-label"></label>
                        <div id="ContactInput" style="width:100%"></div>
                        <div class="input-group" style="width:70%">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-4">
                                    <p>Προσθήκη επαφής </p>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" onclick="AppendContactForm()" class="btn btn-success btn-circle"><i class="fa fa-plus"></i></button>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group pull-right">
                        <input type="submit" value="Αποθήκευση" class="btn btn-primary " />
                    </div>

                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3"> </div>
</div>

@section Scripts {
    <script src="~/js/Custom/Contacts.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.Company_Select2').select2({
            ajax: {
                url: '/api/companies/select2',
                data: (params) => {
                    var query = {
                        search: params.term,
                        page: params.page || 1
                    }
                    return query;
                }
            }
        });
    </script>
}
