@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    @Html.ButtonCreateNew("WorkPlaceHourRestriction")
                    @Html.ButtonImport("WorkPlaceHourRestriction")
                    @Html.ButtonExport("WorkPlaceHourRestriction")
                </div>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="WorkPlaceHourRestrictionDatatable" class="table table-bordered table-hover table-responsive stripe">
                    <thead>
                        <tr>
                            <th>Πόστο</th>
                            <th>Μήνας</th>
                            <th>Έτος</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Πόστο</th>
                            <th>Μήνας</th>
                            <th>Έτος</th>
                            <th>Ενέργειες</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>

</div>
<partial name="_ExcelModals" model='new {Entity = "WorkPlaceHourRestriction" }'>
    @section Scripts {
        <script>
            $(() => {
                var dataTable = new DataTableService('#WorkPlaceHourRestrictionDatatable')
                    .ForApiController('WorkPlaceHourRestrictions')
                    .StartOrderFromCol(1)
                    .AddColumn(true, true, "WorkPlaceName")
                    .AddColumn(true, true, "Month")
                    .AddColumn(true, true, "Year")
                    .AddColumn(false, false, "Buttons")
                    .AjaxData((data, type, row, meta) => {
                        data.Predicate = 'WorkPlaceHourRestrictionIndex';
                        return JSON.stringify(data);
                    })
                    .CompleteDataTable();
            })
        </script>
    }
