@model DataAccess.Models.Identity.ApplicationUser;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">@ViewData["Title"]</h3>
                <div class="pull-right">
                    <button asp-action="Index" class="btn btn-primary">Πίσω στην λίστα</button>
                </div>
            </div>

            <hr />

            <form asp-controller="User" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="box-body">

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <div class="input-group">
                            <input type="text" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" aria-label="Email" placeholder="Email" class="text-danger"></span>
                        </div>
                    </div>

                    @*<div class="form-group">
                        <label asp-for="" class="control-label"></label>
                        <div class="input-group">
                            <input type="text" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" aria-label="Email" placeholder="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <div class="input-group">
                            <input type="text" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" aria-label="Email" placeholder="Email" class="text-danger"></span>
                        </div>
                    </div>*@

                    <div class="form-group pull-right">
                        <input type="submit" value="Αποθήκευση" class="btn btn-primary " />
                    </div>

                </div>
            </form>

        </div>
    </div>
    <div class="col-md-3"> </div>
</div>


<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6">

        <div class="box box-danger" style="margin-top:5%;">

            <div class="box-header">
                <h3 class="box-title">Διαθέσιμοι ρόλοι συστήματος</h3>
            </div>
            <hr />
            <div class="box-body table-responsive">

                <table id="rolesDatatable" class="table table-bordered table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Create</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th data-searchable="true">Name</th>
                            <th data-searchable="false">View</th>
                            <th data-searchable="false">Edit</th>
                            <th data-searchable="false">Create</th>
                            <th data-searchable="false">Delete</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        jQuery(function () {
            var dateOptions = { year: 'numeric', month: 'numeric', day: 'numeric' };
            var timeOptions = { hour: 'numeric', minute: 'numeric', second: 'numeric' };

            var table = $('#rolesDatatable').DataTable({
                "serverSide": true,
                "dom": 'frtlp',
                "ajax": {
                    url: '/api/role/get',
                    type: 'POST',
                    contentType: "application/json",
                    data: (data, type, row, meta) => {
                        data.applicationUserId='@Model.Id';
                        return JSON.stringify(data);
                    }
                },
                order: [[0, 'desc']],
                "columns": [
                    {
                        "data": "Name",
                        "searchable": true,
                        "orderable": true,
                        render: (a, b, data, d) => {
                            console.log(data);
                            if (data.Name != null)
                                return data.Name;
                            else
                                return "";
                        }
                    },
                    {
                        "data": "View",
                        "searchable": false,
                        "orderable": false,
                        render: (a, b, data, d) => {
                            if (data.View != null)
                                return data.View.result;
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Edit",
                        "searchable": false,
                        "orderable": false,
                        render: (a, b, data, d) => {
                            if (data.Edit != null)
                                return data.Edit.result ;
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Create",
                        "searchable": false,
                        "orderable": false,
                        render: (a, b, data, d) => {
                            if (data.Create != null)
                                return data.Create.result;
                            else
                                return "";
                        }
                    },
                    {
                        "data": "Delete",
                        "searchable": false,
                        "orderable": false,
                        render: (a, b, data, d) => {
                            if (data.Delete != null)
                                return data.Delete.result;
                            else
                                return "";
                        }
                    }
                ]
            });
        });
    </script>


    <script>
        $('#rolesDatatable').on("change", ".PermitionCheckbox", (data) => {

            var userId = data.target.attributes['userid'].nodeValue;
            var roleId = data.target.attributes['roleid'].nodeValue;

            var apiUrl = "/api/userrole/delete/" + userId + "/" + roleId;
            if (data.target.checked) 
                apiUrl = "/api/userrole/add/" + userId + "/" + roleId;

            //var permition = data.target.id.split('_')[1];//ex. Employee_Delete
            var userId = data.target.attributes['userid'].nodeValue;
            var roleId = data.target.attributes['roleid'].nodeValue;
            $.ajax({
                url: apiUrl ,
                type: "POST",
                success: function (data, textStatus, jqXHR) {
                    console.log('success');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log('error');
                }
            });


        });
    </script>


}
